body {
    background-color: black;
    color: white;
    

    h1 {
        color: purple;
    }

    .bad {
        color: rgb(245, 6, 6);
    }

    .good {
        color: rgb(9, 218, 9);
    }

    a {
        color: white;
    };

    .button-link {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(91, 140, 231);
        color: white;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }

    .button-link:hover {
        background-color: #388e3c;
    }

    
}